body {
	background-color: #222222;
}

header {
	margin-top: 30px;
}
.menu {
	background-color: rgba(252, 246, 246, 0.05);
	padding: 60px 0;
	border: 0;
}

.navbar-brand {
	padding-right: 150px;
}

.navbar-brand img {
	position: relative;
	top: -48px;
}

.navbar-default .navbar-nav > li > a {
	color: #fefefe;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-default .navbar-nav > li> a:hover {
	color: #386686;

}
.main {
	margin-top: 30px;
	text-transform: uppercase;
}

.first-video {
	width: 100%;
	height: 50%;
}

h1 {
	color: #fefefe;
	padding-left: 70px;
	font-family: 'Abel', sans-serif;
}

.video {
	padding-left: 0;
}

footer {
	margin-top: 350px;
	color: #fefefe;
	border-top: 1px solid #386686;
	padding: 5px 0;
}

.icons li {
	display: inline-block;
}

.nav:not(.navbar-nav) > li > a:hover {
	background-color: rgba(50, 67, 86, 0.33);
	border-radius: 19px;
}

.text {
	display: inline-block;
}

.footer-icon {
	display: inline-block;
	padding-left: 250px;
}

@media only screen and (max-width: 767px) {
	.navbar-default .navbar-collapse{
		padding-top: 40px;
		padding-left: 30px;
	}

	.footer-icon {
		display: inline-block;
		padding-left: 50px;
	}
}
@media only screen and (max-width: 360px) {
	.footer-icon {
		display: inline-block;
		padding-left: 32px;
	}
}

@media only screen and (max-width: 320px) {
	.navbar-toggle {
		margin-right: 14px;
		margin-bottom: -37px;
	}

	.footer-icon {
		display: inline-block;
		padding-left: 15px;
	}
}
